<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQA - Air Quality Analysis</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/TemplateStyling.css" rel="stylesheet" />*@
    <link href="~/Content/magister.css" rel="stylesheet" />

    @*FAVICON*@

    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat" rel="stylesheet">

    <link href="~/plant_ZGD_icon.ico" rel="icon" />


</head>
<body class="textcolor">

    <!--NAVBAR-->
    <nav class="navbar  navbar-static-top navbar-inverse" id="navvy">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav"><li class="active"><img src="~/Content/Images/whitetransdesign.jpeg" /></li></ul>
                <ul class="nav navbar-nav selectors" style="float: right">

                    <li>@Html.ActionLink("Home", "LandingPage", "Home")</li>
                    <li>@Html.ActionLink("Your Impact", "Index", "Commutes")</li>
                    <li>@Html.ActionLink("Vehicles", "Index", "TransportMethods")</li>
                    <li>@Html.ActionLink("Resources", "ResourcesPage", "Home")</li>
                    <li>@Html.ActionLink("Our Team", "AboutUs", "Home")</li>
                    <li>@Html.ActionLink("Which Transit?", "PvPTransit", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>

    <!--BODY-->
    <div class="container content">
        <div id="wrap" class="border">
            <div class="jumbotron">
                <h1 class="title">AQA Commute</h1>
                <p class="subtitle">Your personal Air Quality Analyst -- in your back pocket.</p>
            </div>
            <hr />

            @RenderBody()


        </div> <!-- /container -->
    </div> <!-- /wrap /border -->
    <!--FOOTER-->
    <div id="footer">
        <div class="container">
            <p class="muted credit">Our footer is the best footer.</p>
        </div>
    </div>

</body>


@*<p><a href="http://coolclimate.berkeley.edu/maps">Source: UC Berkeley CoolClimate Network, Average Annual Household Carbon Footprint (2013)</a></p>*@


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>

<script src="~/Scripts/google-maps-api.custom.js"></script>
