@model AQACommute.Models.Commute

@{
    ViewBag.Title = "Delete";
}

<h2 class="headFont">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Commute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommuteTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommuteTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMiles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMiles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CO2GeneratedLbs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CO2GeneratedLbs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransportMethod.TransportMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportMethod.Year)
            @Html.DisplayFor(model => model.TransportMethod.Make)
            @Html.DisplayFor(model => model.TransportMethod.Model)
            @Html.DisplayFor(model => model.TransportMethod.Option)
            @Html.DisplayFor(model => model.TransportMethod.TransportClass)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
