@model AQACommute.Models.Commute

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommuteTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommuteTime, "Double")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMiles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMiles, "Double")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CO2GeneratedLbs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CO2GeneratedLbs, "Double")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransportMethod.TransportClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportMethod.Year)
            @Html.DisplayFor(model => model.TransportMethod.Make)
            @Html.DisplayFor(model => model.TransportMethod.Model)
            @Html.DisplayFor(model => model.TransportMethod.Option)
            @Html.DisplayFor(model => model.TransportMethod.TransportClass)
        </dd>
        <!--Global Avg.-->
        <dt>
            Percentage of commute compared to daily global average:
        </dt>
        <dd>
            @ViewBag.Global%
        </dd>
        <!--Cuyahoga County Avg.-->
        <dt>
            Percentage of commute compared to daily Cuyahoga County average:
        </dt>
        <dd>
            @ViewBag.CuyahogaCounty%
        </dd>
        <!--2030 Goal-->
        <dt>
            Percentage of commute compared to 2030 Paris Climate Agreement Goal:
        </dt>

        <dd>
            @ViewBag.Twenty30Goal%
        </dd>
    </dl>
</div>

<iframe frameborder='0' width='265' height='375' src='//www.fueleconomy.gov/feg/widgets/gas-tips/tipwidget.html'></iframe>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommuteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
