@model AQACommute.Models.Commute

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommuteTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommuteTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMiles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMiles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CO2GeneratedLbs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CO2GeneratedLbs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransportMethod.TransportClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportMethod.TransportClass)
            d
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommuteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
