@model AQACommute.Models.Commute

@{
    ViewBag.Title = "Details";
}

<h1 class="body-content">Trip Insights</h1>

<div class="row body-content">
    <div class="col-sm-6 col-md-8">
        <h3 class="detailsCommute CO2"><span class="glyphicon glyphicon-map-marker"></span> @Html.DisplayFor(model => model.StartPoint) <span class="glyphicon glyphicon-arrow-right arrowGlyphicon"></span> @Html.DisplayFor(model => model.EndPoint)</h3>
        <ul>
            <li class="detailsCommute marginAlign"><span id="padRight" class="glyphicon glyphicon-road"></span> Commute Length: @Html.DisplayFor(model => model.TotalMiles) Miles</li>
            <li class="detailsCommute betweenLines"><img class="resizeFlats" src="~/Content/Images/carbon-dioxide_360.png" /> Emissions: @Html.DisplayFor(model => model.CO2GeneratedLbs, "NumFormat") Lbs CO<sub>2</sub> Equivalent</li>
        </ul>
        <br />
        <h3 class="detailsCommute CO2"><span class="glyphicon glyphicon-leaf normalWeight"></span> Your CO<sub>2</sub> Equivalent Percentage Comparisons <span class="glyphicon glyphicon-leaf normalWeight"></span></h3>
        <ul>
            <li class="detailsCommute marginAlign"><span class="glyphicon glyphicon-globe"></span> Daily global average: 51.28 lbs/day</li>
            <li class="detailsCommute marginAlign betweenLines morePadding">Your percentage: @ViewBag.Global% </li>
            <li style="list-style:none"></li>
            <li class="detailsCommute marginAlign betweenLines"><span class="glyphicon glyphicon-picture"></span> Daily Cuyahoga County average: 73.98 lbs/day</li>
            <li class="detailsCommute marginAlign betweenLines morePadding">Your percentage: @ViewBag.CuyahogaCounty%</li>
            <li style="list-style:none"></li>
            <li class="detailsCommute betweenLines"><img class="resizeFlats" src="~/Content/Images/eiffel-tower-in-paris-france_360.png" />2030 Paris Climate Agreement Goal: 41.3 lbs/day</li>
            <li class="detailsCommute marginAlign morePadding">Your Percentage: @ViewBag.Twenty30Goal%</li>
         </ul>
    </div>

    <div class="col-sm-6 col-md-4">
        <iframe frameborder='0' width='265' height='375' src='//www.fueleconomy.gov/feg/widgets/gas-tips/tipwidget.html'></iframe>
    </div>

</div>

<p>
    <input type="button" class="btn btn-default btn-lg" value="Resources" id="btn1" onclick="location.href='@Url.Action("ResourcesPage", "Home")'" />
    <input type="button" class="btn btn-default btn-lg" value="What's The Point?" id="btn1" onclick="location.href='@Url.Action("ThePoint", "Home")'" />
    <input type="button" class="btn btn-default btn-lg" value="Back to My Commutes" id="btn1" onclick="location.href='@Url.Action("Index", "Commutes")'" />
</p>


@*<div>
        <h4>Commute</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CommuteTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CommuteTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartPoint)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartPoint)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndPoint)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndPoint)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalMiles)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalMiles, "NumFormat")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CO2GeneratedLbs)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CO2GeneratedLbs, "NumFormat")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TransportMethod.TransportClass)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransportMethod.Year)
                @Html.DisplayFor(model => model.TransportMethod.Make)
                @Html.DisplayFor(model => model.TransportMethod.Model)
                @Html.DisplayFor(model => model.TransportMethod.Option)
                @Html.DisplayFor(model => model.TransportMethod.TransportClass)
            </dd>
            <!--Global Avg.-->
            <dt>
                Percentage of commute compared to daily global average:
            </dt>
            <dd>
                @ViewBag.Global%
            </dd>
            <!--Cuyahoga County Avg.-->
            <dt>
                Percentage of commute compared to daily Cuyahoga County average:
            </dt>
            <dd>
                @ViewBag.CuyahogaCounty%
            </dd>
            <!--2030 Goal-->
            <dt>
                Percentage of commute compared to 2030 Paris Climate Agreement Goal:
            </dt>

            <dd>
                @ViewBag.Twenty30Goal%
            </dd>
        </dl>
    </div>*@


