@model IEnumerable<AQACommute.Models.Commute>

@{
    ViewBag.Title = "Index";
}

<br />
<h1 class="body-content headFont">Commutes</h1>
<br />
<br />

<input type="button" class="btn btn-default btn-lg" value="Add a New Commute" id="btn1" onclick="location.href='@Url.Action("Create", "TransportMethods")'" />

<div class="row body-content">
    @for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model.ToArray();
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail">
                <h3>Commute @(i+1)</h3>
                <h3>@Html.DisplayFor(modelItem => item[i].StartPoint) --> @Html.DisplayFor(modelItem => item[i].EndPoint)</h3>
                <p>
                    @Html.DisplayFor(modelItem => item[i].TransportMethod.Year)
                    @Html.DisplayFor(modelItem => item[i].TransportMethod.Make)
                    @Html.DisplayFor(modelItem => item[i].TransportMethod.Model)
                    @Html.DisplayFor(modelItem => item[i].TransportMethod.Option)
                    @Html.DisplayFor(modelItem => item[i].TransportMethod.TransportClass)
                </p>
                <p>Commute Length: @Html.DisplayFor(modelItem => item[i].TotalMiles, "NumFormat") Miles</p>
                <h4>Emissions: @Html.DisplayFor(modelItem => item[i].CO2GeneratedLbs, "NumFormat") Lbs CO2 Equivalent</h4>
            
            @*@Html.ActionLink("Edit", "Edit", new { id = item[i].CommuteID }) |*@
            @Html.ActionLink("Info", "Details", new { id = item[i].CommuteID }) |
            @Html.ActionLink("Remove", "Delete", new { id = item[i].CommuteID })
            </div>
        </div>
    }
</div>