@model IEnumerable<AQACommute.Models.Commute>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommuteTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMiles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CO2GeneratedLbs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportMethod.TransportMode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommuteTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMiles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CO2GeneratedLbs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransportMethod.TransportMode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommuteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommuteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommuteID })
        </td>
    </tr>
}

</table>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="startPoint">Start:</label>
            <input type="text" class="form-control" id="startPoint">
            <label for="endPoint">End:</label>
            <input type="text" class="form-control" id="endPoint">
            <br />
            <button type="button" class="btn btn-default" id="plotPoints">Go!</button>
            <br /><br />
            <p id="parseDistanceResult"></p>
        </div>
    </div>
    <div class="col-md-8">
        <div id="map"></div>
    </div>
</div>

