@model IEnumerable<AQACommute.Models.Commute>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DistanceTraveled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommuteTimeSpent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommuteTimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C02Footprint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Make)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceTraveled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommuteTimeSpent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommuteTimeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C02Footprint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Make)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommuteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommuteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommuteID })
        </td>
    </tr>
}

</table>
