@model AQACommute.Models.CommuteLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommuteLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Commute.CommuteTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commute.CommuteTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommuteLocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
