@model AQACommute.Models.TransportMethod

@{
    ViewBag.Title = "Add Your Vehicle";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/WidgetAPI.js"></script>
}




<h1 class="headFont">Add Your Vehicle</h1>
<br />

<!--***********user input**************-->
<section class="fullWidth center carSelection">
    <h4 class="responsiveHeadline redOrangeText">Please select:</h4>
    <select class="fullWidth mobileDrop carYear">
        <option>Year</option>
    </select>
    <select class="fullWidth mobileDrop carMake">
        <option>Make</option>
    </select>
    <select class="fullWidth mobileDrop carModel">
        <option>Model</option>
    </select>
    <select class="fullWidth mobileDrop carVersion"></select>
    <h2 class="errorVehicle redOrangeText"></h2>
    <br />
</section>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @*<div class="form-group">
            @Html.LabelFor(model => model.CO2Lbs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CO2Lbs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CO2Lbs, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-horizontal">
        <div class="row col-md-4">
            @*<h4>TransportMethod</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.TransportMode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TransportMode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TransportMode, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.TransportClass, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Vehicle Class", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TransportClass, "", new { @class = "text-danger" })
                    </div>
                </div>*@




            @*<div class="form-group">
                    @Html.LabelFor(model => model.CityMPG, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CityMPG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CityMPG, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.HwyMPG, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HwyMPG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HwyMPG, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.CO2Lbs, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CO2Lbs, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CO2Lbs, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.MakeID, "MakeID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MakeID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MakeID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.ModelID, "ModelID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ModelID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ModelID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.YearID, "YearID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("YearID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.YearID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.OptionID, "OptionID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("OptionID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OptionID, "", new { @class = "text-danger" })
                    </div>
                </div>*@


            <div class="col-md-4">
                @*<form id="Vehicle Make">
                        <select id="Select Vehicle Make">
                            <option>Select Vehicle Make</option>
                            <script>
                                var myArray = new Array("Ford", "Dodge", "Chevorlet");
                                for (i = 0; i < myArray.length; i++) {
                                    document.write('<option value="' + myArray[i] + '">' + myArray[i] + '</option>');
                                }
                            </script>
                        </select>
                    </form>*@
                <div class="form-group hideMe">
                    @Html.LabelFor(model => model.Make, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Make, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group hideMe">
                    @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group hideMe">
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<form id="Vehicle Class">
                        <select id="Select Class">
                            <option>Select Vehicle Class</option>
                            <script>
                                var myArray = new Array("Truck", "Van", "SUV", "Sedan", "Sports Car");
                                for (i = 0; i < myArray.length; i++) {
                                    document.write('<option value="' + myArray[i] + '">' + myArray[i] + '</option>');
                                }
                            </script>
                        </select>
                    </form>*@

                <div class="form-group hideMe">
                    @Html.LabelFor(model => model.Options, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Options, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Options, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group hideMe">
                    @Html.LabelFor(model => model.AvgMPG, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AvgMPG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AvgMPG, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default" id="createVehicle" style="margin-bottom: 20px;">Add Vehicle</button>
    </div>
}




