@model IEnumerable<AQACommute.Models.TransportMethod>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.TransportMode)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.TransportClass)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AvgMPG)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CityMPG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HwyMPG)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.CO2Lbs)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Options)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Make1.MakeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model1.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option.OptionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year1.Year1)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.TransportMode)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.TransportClass)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AvgMPG)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CityMPG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HwyMPG)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.CO2Lbs)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Options)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Make1.MakeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model1.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option.OptionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year1.Year1)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransportMethodID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransportMethodID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransportMethodID })
        </td>
    </tr>
}

</table>
