@model IEnumerable<AQACommute.Models.TransportMethod>

@{
    ViewBag.Title = "Index";
}

<h2 class="body-content">Vehicles</h2>

<input type="button" class="btn btn-default btn-lg" value="Add Another Commute" id="btn1" onclick="location.href='@Url.Action("Create", "TransportMethods")'" />

<div class="row body-content">
    @for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model.ToArray();
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail">
                <h4>
                    @Html.DisplayFor(modelItem => item[i].Year)
                    @Html.DisplayFor(modelItem => item[i].Make)
                    @Html.DisplayFor(modelItem => item[i].Model)
                    @Html.DisplayFor(modelItem => item[i].Option)
                    @Html.DisplayFor(modelItem => item[i].TransportClass)
                </h4>
                <br />
                <p>Average MPG: <span>@Html.DisplayFor(modelItem => item[i].AvgMPG)</span></p>
                @Html.ActionLink("Edit", "Edit", new { id = item[i].TransportMethodID }) |
                @Html.ActionLink("Info", "Details", new { id = item[i].TransportMethodID }) |
                @Html.ActionLink("Remove", "Delete", new { id = item[i].TransportMethodID })
            </div>
        </div>
    }
</div>
