
@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>AQA Commute</title>
    <link href="~/plant_ZGD_icon.ico" rel="icon" />
    <link rel="shortcut icon" href="#">

    <!-- Bootstrap itself -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link href="~/Content/magister.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat" rel="stylesheet">

</head>
<body class="text-shadows">
    <!--NAVBAR-->
    <nav class="navbar  navbar-static-top navbar-inverse" id="navvy">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav"><li class="active"><img src="~/Content/Images/whitetransdesign.jpeg"/></li></ul>
                <ul class="nav navbar-nav selectors" style="float: right">

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Your Impact", "Create", "Commutes")</li>
                    <li>@Html.ActionLink("Vehicles", "Index", "TransportMethods")</li>
                    <li>@Html.ActionLink("Resources", "ResourcesPage", "Home")</li>
                    <li>@Html.ActionLink("Our Team", "AboutUs", "Home")</li>
                    <li>@Html.ActionLink("Which Transit?", "PvPTransit", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>*@
    <!-- Main (Home) section -->
    <section class="section" id="head">
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

                    <!-- Site Title, your name, HELLO msg, etc. -->
                    <h1 class="title">AQA Commute</h1>
                    <h2 class="subtitle">Your Personal Air Quality Analyst</h2>

                    <!-- Short introductory (optional) -->
                    <h3 class="tagline" id="fontForced">
                        We track your commute's air quality impact so the hard work is done for you.<br />
                        Your Air Quality Analyst takes your awareness that the environment is in trouble<br />
                        and helps you take action to minimize your affect.
                    </h3>

                    <!-- Nice place to describe your site in a sentence or two -->

                    <!--Button that starts user on commute creation track-->
                    <input type="button" class="btn btn-default btn-lg" value="Continue" id="btn1" onclick="location.href='@Url.Action("Create", "TransportMethods")'" />

                </div> <!-- /col -->
            </div> <!-- /row -->

        </div>
    </section>
    <!--^^^^^IT WORKS NO TOUCHIE-->
    <!--Scripts, local and remote-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="~/Content/magister.js"></script>
    <script src="~/Content/modernizr.custom.72241.js"></script>
@*</body>
</html>*@
